<footer class="footer">
   <div class="container">
      <div class="footer-address">
         <a class="address-link link" href="../index.html">
            <svg class="address-logo">
               <use href="../img/icons.svg#logo"></use>
            </svg>
         </a>
         <a class="address-link link" href="tel:+380684439426">+380 (68) 443-94-26</a>
         <p class="address-text">16781 S. Pioneer Road Salt Lake City UT 84104</p>
      </div>

      <div class="footer-menu">
         <ul class="menu-list list">
            <li class="menu-item item">
               <a class="menu-link link" href="./section_about-us.html">About</a>
            </li>
            <li class="menu-item item">
               <a class="menu-link link" href="./section_catalog.html">Catalog</a>
            </li>
            <li class="menu-item item"><a class="menu-link link" href="./section_sale.html">Sale</a></li>
         </ul>
      </div>

      <div class="footer-social">
         <ul class="social-list list">
            <li class="social-item item">
               <a class="social-link link" href="">
                  <svg width="24" height="24">
                     <use href="./img/icons.svg#facebook"></use>
                  </svg>
               </a>
            </li>
            <li class="social-item item">
               <a class="social-link link" href="">
                  <svg width="24" height="24">
                     <use href="./img/icons.svg#instagram"></use>
                  </svg>
               </a>
            </li>
            <li class="social-item item">
               <a class="social-link link" href="">
                  <svg width="24" height="24">
                     <use href="./img/icons.svg#youtube"></use>
                  </svg>
               </a>
            </li>
         </ul>
      </div>

      <div class="footer-text">
         <p class="text-text">&copy;2022 The Watch Spot. All rights reserved.</p>
         <a class="text-privacy" href="">Privacy Policy Terms of Service</a>
      </div>
   </div>
</footer>
