<footer class="footer">
   <div class="container">
      <address class="footer-address">
         <a class="address-link link" href="./index.html">
            <img src="./img/logo.svg" alt="logo" width="50" height="50" />
         </a>
         <a class="address-link link" href="tel:+380684439426">+380 (68) 443-94-26</a>
         <a
            class="address-text"
            href="https://www.google.com.ua/maps/place/Pioneer+Rd,+Salt+Lake+City,+UT+84104,+%D0%A1%D0%A8%D0%90/@40.7437209,-112.1194039,11z/data=!4m6!3m5!1s0x8752f35e77fa0eb7:0xc1164a62acb39aa5!8m2!3d40.7393632!4d-111.9580153!16s%2Fg%2F1tw_nr0s?hl=ru"
            target="_blank"
            >16781 S. Pioneer Road Salt Lake City UT 84104</a
         >
      </address>

      <div class="footer-menu">
         <ul class="menu-list list">
            <li class="menu-item item">
               <a class="menu-link link" href="./section_about-us.html">About</a>
            </li>
            <li class="menu-item item">
               <a class="menu-link link" href="./section_catalog.html">Catalog</a>
            </li>
            <li class="menu-item item"><a class="menu-link link" href="./section_sale.html">Sale</a></li>
         </ul>
      </div>

      <div class="footer-social">
         <ul class="social-list list">
            <li class="social-item item">
               <a class="social-link link" href="">
                  <svg width="24" height="24">
                     <use href="./img/icons.svg#facebook"></use>
                  </svg>
               </a>
            </li>
            <li class="social-item item">
               <a class="social-link link" href="">
                  <svg width="24" height="24">
                     <use href="./img/icons.svg#instagram"></use>
                  </svg>
               </a>
            </li>
            <li class="social-item item">
               <a class="social-link link" href="">
                  <svg width="24" height="24">
                     <use href="./img/icons.svg#youtube"></use>
                  </svg>
               </a>
            </li>
         </ul>
      </div>

      <div class="footer-text">
         <p class="text-text">&copy;2022 The Watch Spot. All rights reserved.</p>
         <a class="text-privacy" href="">Privacy Policy Terms of Service</a>
      </div>
   </div>
</footer>
