<header class="header">
   <div class="container">
      <a href="./index.html"><img src="" alt="logo" width="19" height="19" />thewatchspot<span class="header-logo"></span></a>
      <nav class="header-navigation">
         <ul class="header-list">
            <li class="header-item">
               <a class="header-link" href="">ABOUT US</a>
            </li>
            <li class="header-item">
               <a class="header-link" href="">CATALOG</a>
            </li>
            <li class="header-item"><a class="header-link" href="">SALE</a></li>
         </ul>
      </nav>

      <a class="header-contact-phone button" href="tel:+380684439426">+380 (68) 443-94-26</a>
   </div>
</header>
