<div class="popup">
   <button class="popup__close" data-popup-close>
      <svg width="24" height="24"><use href="./img/icons.svg#popup_close"></use></svg>
   </button>
   <!--modal content start-->
   <div class="modal-clock-inf">
      <img src="./img/catalog/1.png" alt="" width="276" class="modal-photo" />
      <p class="modal-name-watch">Tube Watch S42 Date Steel With Black Case</p>
      <p class="modal-price-watch">€395</p>
   </div>
   <div class="modal-second-modal">
      <form>
         <label class="name-modal-input" for="Full name">Full name</label>
         <input class="modal-input" id="Full name" type="text" placeholder="Enter your full name" />
         <label class="name-modal-input" for="Email">Email</label>
         <input class="modal-input" id="Email" type="text" placeholder="Enter your email" />
         <label class="name-modal-input" for="Card number">Card number</label>
         <input class="modal-input" id="Card number" type="text" placeholder="Enter card" />
         <label class="name-modal-input" for="Comments">Comments</label>
         <textarea class="modal-input modal-textarea" name="" id="Comments" cols="30" rows="10" placeholder="Enter your text"></textarea>
      </form>
      <button type="submit" class="button button-modal">SUBMIT</button>
      <p class="modal-text-policy">
         By clicking on “Submit” button, you agree to our <a class="modal-link-policy" href="">Privacy Policy</a>, and allow Promodo to use this information for marketing
         purposes.
      </p>
   </div>
   <!--modal content end-->
</div>
