<!-- backdrop -->
<div class="backdrop is-hidden"></div>

<!-- REQUEST -->
<div class="modal is-hidden" id="request">
   <div class="popup__body">
      <button type="button" class="close-area" aria-label="popup close area" data-popup-close></button>
      <load src="partials/modal.html" />
   </div>
</div>

<!-- LOADING -->
<div class="modal is-hidden" id="loading">
   <div class="popup__body">
      <div class="popup"></div>
   </div>
</div>

<!-- OK -->
<div class="modal is-hidden" id="ok">
   <div class="popup__body">
      <button type="button" class="close-area" data-popup-close></button>
      <div class="popup">
         <button class="popup__close" data-popup-close>
            <svg width="24" height="24">
               <use href="./img/icons.svg#popup_close"></use>
            </svg>
         </button>
         <div class="ok__info">
            <img src="./img/catalog/1.png" srcset="./img/catalog/1@2x.png 2x" alt="watches" width="276" class="ok-photo" />
            <b class="title">Thank you for ordering!</b>
            <p class="popup-subtitle">Our manager will <br />contact you shortly.</p>
            <button class="button button--full" data-popup-close>Done</button>
         </div>
      </div>
   </div>
</div>
