<!-- var swiper = new Swiper('.hero-slider', { speed: 600, loop: true, autoplay: { enabled: true, delay: 3000, disableOnInteraction: false, }, navigation: { nextEl:
'.swiper-next', prevEl: '.swiper-prev', },}); -->
<section class="section hero-section">
   <div class="container">
      <div class="hero">
         <h1 class="hero-title">Welcome to our collection of premium watches</h1>
         <p class="hero-text">
            Our watches are not just timepieces, but also an expression of your personality and lifestyle. From classic designs to modern ones, we have a watch to suit
            every taste and occasion.
         </p>
         <div class="hero-top-slider">
            <div class="swiper-container hero-slider">
               <div class="swiper-wrap">
                  <div class="swiper-slide">
                     <img srcset="./img/hero/slider/1@2x.jpg" src="./img/hero/slider/1.jpg" alt="#" />
                  </div>
                  <div class="swiper-slide">
                     <img srcset="./img/hero/slider/2@2x.jpg" src="./img/hero/slider/2.jpg" alt="#" />
                  </div>
                  <div class="swiper-slide">
                     <img srcset="./img/hero/slider/3@2x.jpg" src="./img/hero/slider/3.jpg" alt="#" />
                  </div>
                  <div class="swiper-slide">
                     <img srcset="./img/hero/slider/4@2x.jpg" src="./img/hero/slider/4.jpg" alt="#" />
                  </div>
                  <div class="swiper-slide">
                     <img srcset="./img/hero/slider/5@2x.jpg" src="./img/hero/slider/5.jpg" alt="#" />
                  </div>
               </div>
            </div>
            <div class="slider-arrows">
               <button type="button" class="swiper-arrows swiper-back">
                  <svg width="18" height="18">
                     <use href="./img/icons.svg#arrow_left"></use>
                  </svg>
               </button>
               <button type="button" class="swiper-arrows swiper-next">
                  <svg width="18" height="18">
                     <use href="./img/icons.svg#arrow_right"></use>
                  </svg>
               </button>
               <div class="swiper-number">
                  <span class="slide-first">01</span>
                  <span class="slide-last">05</span>
               </div>
            </div>
         </div>
         <picture class="hero-image">
            <source srcset="./img/hero/img-hero/hero-img-mob@2x.jpg 2x, ./img/hero/img-hero/hero-img-mob.jpg" media="(max-width: 767px)" />
            <source srcset="./img/hero/img-hero/hero-img-tablet@2x.jpg 2x, ./img/hero/img-hero/hero-img-tablet.jpg" media="(min-width: 768px) and (max-width: 1279px)" />
            <source srcset="./img/hero/img-hero/hero-img-desktop@2x.jpg 2x, ./img/hero/img-hero/hero-img-desktop.jpg" media="(min-width: 1280px)" />
            <img src="./img/hero/img-hero/hero-img-mob.jpg" alt="#" />
         </picture>
      </div>
   </div>
</section>
