<section class="section">
   <div class="container">
      <h2 class="title">Sale</h2>
      <div class="parent">
         <div class="div1">
            <img src="../img/sale/small_1.jpg" alt="" width="80">
         </div>
         <div class="div2">
            <img src="../img/sale/small_2.jpg" alt="" width="80">
         </div>
         <div class="div3">
            <img src="../img/sale/small_3.jpg" alt="" width="80">
         </div>
         <div class="div4">
            <img src="../img/sale/small_4.jpg" alt="" width="80">
         </div>
         <div class="div5">
            <img class="sale-main-img" src="../img/sale/big.jpg" alt="" width="235" >
         </div>
      </div>
      <h3 class="sale-name-watch">Greenlane Watch By Police For MenHT</h3>
      <p class="sale-tag-watch">Product tag: PEWJK2227003</p>
      <div class="sale-prices">
      <p class="sale-new-price">€700</p>
      <p class="sale-old-price">€1000</p>
      </div>
      <div class="sale-parag-svg">
      <h4 class="sale-description">Description</h4>
      <svg class="sale-svg" width="16" height="1">
         <use href="../img/sale/minus.svg"></use>
      </svg>
      </div>
      <p class="sale-pharagraf">Richly detailed with an understated design - the Police Men’s Greenlane watch features a versatile multifunction
         design
         that fits effortlessly into work and play. The steel case is adorned with a semi-transparent black dial. The
         timepiece
         exhibits a contrast through a black IP bracelet with matching crown and pushers.</p>
      <div class="sale-parag-svg">
         <h4 class="sale-description">DETAILS & FEATUREStion</h4>
         <svg class="sale-svg" width="16" height="1">
            <use></use>
         </svg>
         </div>
      <ul class="sale-pharagraf">
         <li>Gender: man</li>
         <li>Size: 46x54.5mm</li>
         <li>Case Colour: Steel</li>
         <li>Band Material: Metal</li>
         <li>Case Material: Metal</li>
         <li>Features: Multifunction</li>
         <li>Water Resistant: 5 (ATM)</li>
         <li>Band Colour: Steel</li>
      </ul>
   </div>
</section>
