<section class="section">
   <div class="container">
      <p class="new-watches-text">New watches</p>
      <h2 class="title">Green And Bronze—The Match Made In Heaven</h2>
      <ul class="new-watches-list list">
         <li class="new-watches-item">
            <img srcset="./img/new_watches/1@2x.jpg 2x" src="./img/new_watches/1.jpg" alt="watch on hand" class="new-watches-page" width="576" height="472" />
         </li>
         <li class="new-watches-item">
            <img
               srcset="./img/new_watches/2@2x.jpg 2x"
               src="./img/new_watches/2.jpg"
               alt="wrist watch on a dark background"
               class="new-watches-page"
               width="576"
               height="472"
            />
         </li>
      </ul>
   </div>
</section>
