<section class="section">
   <div class="container">
      <h1>Welcome to our collection of premium watches</h1>
      <div>
         <div>
            <div><img src="./img/hero/slider/5.jpg" alt="#" /></div>
            <div><img src="./img/hero/slider/2.jpg" alt="#" /></div>
            <div><img src="./img/hero/slider/3.jpg" alt="#" /></div>
            <div><img src="./img/hero/slider/4.jpg" alt="#" /></div>
            <div><img src="./img/hero/slider/5.jpg" alt="#" /></div>
         </div>
      </div>
   </div>
</section>
