.footer {
   width: 100%;
   background: var(--dark-green-color);
   color: var(--white-color);
   padding: 40px 0px 20px 0px;
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 1280px) {
}
