.header {
   width: 100%;
   position: fixed;
   background: var(--black-color);
   color: var(--white-color);
   z-index: 10;
   padding: 20px 0px;
}

.header-mobile {
   display: flex;
}
.header-logo {
   display: flex;
   align-items: center;
}
.header-logo-text {
   font-family: 'Epilogue';
   font-style: normal;
   font-weight: 400;
   line-height: 1;
   letter-spacing: -0.03em;
   color: #ffffff;
}
/*MOBILE*/
@media screen and (max-width: 767px) {
   .header-navigation {
      display: none;
   }
   .button {
      display: none;
   }
   .img-logo {
      width: 14px;
      height: 14px;
   }
   .header-logo-text {
      font-size: 12px;
      display: flex;
   }
   .header-logo {
      margin-right: auto;
      font-family: 'Epilogue';
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 1;
      letter-spacing: -0.03em;
      color: #ffffff;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 4px;
   }
   .mobile-menu-open:hover,
   .mobile-menu-open:focus {
      cursor: pointer;
   }
   .mobile-menu-open {
      cursor: pointer;
   }
   .mobile-menu {
      position: fixed;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      z-index: 1000;
      background: var(--black-color);
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
      transition: var(--transition-duration-and-func);
   }
   .mobile-menu-container {
      position: relative;
   }
   .mobile-menu-close-icon {
      position: absolute;
      transition: var(--transition-duration-and-func);
   }
   .mobile-menu-close-btn {
      display: flex;
      position: absolute;
      top: 30px;
      right: 20px;
      background-color: transparent;
      padding: 0;
      width: 24px;
      height: 24px;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      transition: border-color var(--transition-duration-and-func);
   }

   .mobile-menu.is-open {
      opacity: 1;
      visibility: visible;
      pointer-events: auto;
   }

   .mobile-menu-close-btn:hover,
   .mobile-menu-close-btn:focus {
      transition: var(--transition-duration-and-func);
   }
   .mobile-menu-close-btn:hover .mobile-menu-close-icon,
   .mobile-menu-close-btn:focus .mobile-menu-close-icon {
      fill: var(--color-white);
      transition: var(--transition-duration-and-func);
   }
   .mobile-list {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 200px;
      gap: 14px;
   }
   .mobile-item {
      display: flex;
      align-items: center;
   }

   .mobile-link {
      font-family: 'Epilogue';
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 1.3;
      letter-spacing: -0.02em;
      text-transform: uppercase;
      color: #ffffff;
   }
}
/*TABLET*/
@media screen and (min-width: 768px) {
   .header-list {
      display: flex;
      gap: 40px;
   }
   .header-navigation {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: auto;
   }
   .img-logo {
      width: 19px;
      height: 19px;
   }
   .header-logo-text {
      margin-right: 80px;
   }
   .header-link {
      font-family: 'Epilogue';
      font-style: normal;
      font-weight: 400;
      font-size: 9px;
      line-height: 1.3;
      text-align: center;
      text-transform: uppercase;
      color: #ffffff;
   }
   .header-contact-phone {
      font-family: 'Epilogue';
      font-style: normal;
      font-weight: 400;
      font-size: 9px;
      line-height: 12px;
      text-align: center;
      text-transform: uppercase;
      color: #ffffff;
   }
   .mobile-menu-open-icon {
      display: none;
   }
}
/*DESKTOP*/
@media screen and (min-width: 1280px) {
   .header-logo-text {
      font-size: 15px;
   }
}
